@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Coolvetica';
    src: local('Coolvetica Regular'), local('Coolvetica-Regular'),
        url('../font/CoolveticaRg-Regular.woff2') format('woff2'),
        url('../font/CoolveticaRg-Regular.woff') format('woff'),
        url('../font/CoolveticaRg-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}